<module>
	<name>FirstSpirit extensions</name>
	<version>@VERSION@</version>
	<description>FirstSpirit extensions</description>
	<vendor>Felix Reinhold</vendor>
	<components>
		<public>
			<name>SVGViewerPlugin</name>
			<class>com.reinhold.fs.plugins.SVGViewerPlugin</class>
		</public>
		<library>
			<name>FirstSpirit Extensions Library</name>
			<description>FirstSpirit Extensions</description>
			<scope>server</scope>
			<resources>
				<resource name="fs-extensions-lib" version="@VERSION@">lib/fs-extensions-@VERSION@.jar</resource>
			</resources>
		</library>

	</components>
</module>
        	